<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boss List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <header th:insert="layout/page-layouts.html :: header"></header>
    <h1>Список администраторов</h1>

    <!-- вывод goodMsg если он есть -->
    <div th:if="${gooMsg != null}" class="alert alert-success">
        [[${gooMsg}]]
    </div>

    <table class="table-bordered">
        <thead >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="elm: ${elms}">
                <tr>
                    <td>[[${elm.id}]]</td>
                    <td>[[${elm.name}]]</td>
                    <td>
                        <a th:href="@{'/boss/delete/'+${elm.id}}"
                        class="btn bg-danger">Delete</a>
                        <a th:href="@{'/boss/update/'+${elm.id}}"
                           class="btn bg-primary">Edit</a>
                        <a th:href="@{'/boss/detail/'+${elm.id}}"
                           class="btn bg-warning">Detail</a>

                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    </div>
    <br>
    <div>
        <a th:href="@{/boss/add}" class="btn btn-success">На добавление </a>
        <input type="button" onclick="history.back();" value="Назад"/>
        <a th:href="@{/}" class="btn btn-success">На главную страницу</a>
    </div>
    <footer  th:insert="layout/page-layouts.html :: footer"></footer>
</body>
</html>
