<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detail Boss</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body>
<header th:insert="~{layout/page-layouts.html :: header}"></header>
  <div class="container-fluid text-center">
    <h2>Дополнителная информация администратора</h2>
    <div  class="container">
      <div class="row  px-md-3">
        <div class="col text-danger">
          <pre> <small>Имя администратора</small></pre>
          <p class="text-danger text-left bg-info">[[${elm.name}]]</p>
        </div>
        <div class="col">
          <pre> <small>Login администратора       </small></pre>
          <p class="bg-info text-white text-left">[[${elm.user.login}]]</p>
        </div>
      </div>
      <div class="row  px-md-3">
        <div class="col align-top">
          <p class="col-3 text-info text-left"><pre>    <small>Дополнительная информация  </small></pre>
          <p class="col-12 text-justify bg-warning text-dark">[[${elm.description}]]</p>
        </div>
      </div>
      <div class="row  px-md-3">
        <div class="col">
          <p class="text-info text-left"><pre>    <small>Список диспетчеров  </small></pre></p>
           </div>
        </div>
        <div class="col">
          <div th:unless="${ #lists.isEmpty(elms)}">
            <span th:text="${ #lists.size(elms)}"></span>
            <th:block th:each="itm: ${elms}">
              <p class="text-success">[[${itm.name}]]</p>
            </th:block>
          </div>
          <div th:if="${ #lists.isEmpty(elms)}">
            <p class="col-12 text-danger">Список диспетчеров пуст</p>

        </div>
      </div>
      <div class="row  px-md-3">
        <div class="col">
          <p class="text-info text-left"><pre>    <small>Список Водителей</small> </pre></p>

        </div>
        <div class="col">
          <div th:unless="${ #lists.isEmpty(elmq)}">
            <span th:text="${ #lists.size(elmq)}"></span>
            <th:block th:each="itm: ${elmq}">
              <p class="text-success">[[${itm.name}]]</p>
            </th:block>
          </div>
          <div th:if="${ #lists.isEmpty(elmq)}">
            <p class="col-12 text-danger">Список Водителей пуст</p>
          </div>
        </div>
      </div>
    </div>
    <a th:href="@{/boss}" class="btn btn-danger">Вернуться</a>
  </div>
<footer  th:insert="~{layout/page-layouts.html :: footer}"></footer>
</body>
</html>
