<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Dispatcher</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body>
<header th:insert="~{layout/page-layouts.html :: header}"></header>
<div class="container-fluid text-center">
    <h2>Дополнительная информация о диспетчере</h2>
    <div class="container">
        <div class="row  px-md-3">
            <div class="col text-danger">
                <pre> <small>Имя администратора         </small></pre>
                <p class="text-danger text-left bg-info">[[${elm.name}]]</p>
            </div>
            <div class="col">
                <pre> <small>Login администратора       </small></pre>
                <p class="bg-info text-white text-left">[[${elm.user.login}]]</p>
            </div>
        </div>
        <div class="row  px-md-3">
            <div class="col">
                <pre> <small>Администратор       </small></pre>
                <p class="bg-info text-white text-left">[[${boss}]]</p>
            </div>
            <div class="col">
                <p class="col-3 text-info text-left"><pre>    <small>Дополнительная информация  </small></pre>
                <p class="col-12 text-justify bg-warning text-dark">[[${elm.description}]]</p>
            </div>
        </div>
        <div class="row  px-md-3">
            <div class="col text-info">
                <small>Список Заказов </small>
                <div th:unless="${ #lists.isEmpty(elms)}" class="bg-primary text-white text-left">
                    <small>из </small><b>[[${ #lists.size(elms)}]] : </b>
                    <th:block th:each="itm: ${elms}">
                        <span > [[${itm}]], </span>
                    </th:block>
                </div>
                <div th:if="${ #lists.isEmpty(elms)}">
                    <span class="text-success">пустой </span>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/boss}" class="btn btn-danger">Вернуться</a>
</div>
<footer  th:insert="~{layout/page-layouts.html :: footer}"></footer>
</body>
</html>
