<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Form Driver</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body>
<header th:insert="~{layout/page-layouts.html :: header}"></header>
<div class="container-fluid text-center">
  <h1 th:if="${act}=='A'">Добавление Водителя</h1>
  <h1 th:unless="${act}=='A'">Редактирование записи Водителя</h1>
  <form method="post" th:action="@{/boss/add_drivr}" th:object="${driver}">
    <input th:field="*{id}" hidden>
    <label for="rx">Имя:</label>
    <input id="rx" th:type="text" th:field="*{name}" required minlength="1" maxlength="233"/>
    <label for="ry">Примечание:</label>
    <input id="ry" th:type="text" th:field="*{description}"  minlength="1" maxlength="233"/>


    <label for="x1">полезная нагрузка:</label>
    <input id="x1" th:type="number" th:field="*{playload}" required minlength="1" maxlength="233"/>
    <label for="x2">код направленя:</label>
    <input id="x2" th:type="number" th:field="*{orientation}" required minlength="1" maxlength="233"/>
    <label for="x3">вместимость:</label>
    <input id="x3" th:type="number" th:field="*{tonnage}" required minlength="1" maxlength="233"/>


    <button th:if="${act}=='A'" class="btn btn-success">Добавить</button>
    <button th:unless="${act}=='A'" class="btn btn-success">Сохранить</button>
  </form>
  <a th:href="@{/boss}" class="btn btn-danger">Cancel</a>
</div>
<footer  th:insert="~{layout/page-layouts.html :: footer}"></footer>
</body>
</html>
