<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form Orders</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body>
<header th:insert="~{layout/page-layouts.html :: header}"></header>
<div class="container-fluid text-center">
    <h1 th:if="${act}=='A'">Добавление Заказа</h1>
    <h1 th:unless="${act}=='A'">Редактирование Заказа</h1>
    <div class="container">

        <form class="form-floating" method="post" th:action="@{/order/add}" th:object="${elm}">
            <input th:field="*{id}" hidden>
                <div class="row  px-md-3 text-danger">
                    <div class="col text-danger active">
                        <label class="btn " for="rx">Код Заказа:
                            <input  id="rx" th:type="text" th:field="*{name}" required minlength="1" maxlength="32"/>
                            <p class="help-footnote"><small>1-32 символа</small></p>
                        </label>

                    </div>
                    <div class="col">
                        <label class="btn text-wrap"  for="ry">Примечание:
                            <input id="ry" th:type="text" th:field="*{description}"  minlength="1" maxlength="233"/>
                            <p class="help-footnote"><small>1-233 символа</small></p>
                        </label>

                    </div>
                </div>
            <div class="row text-primary px-md-3">
                <div class="col">
                    <label for="x1">общий вес:</label>
                    <input id="x1" th:type="number" th:field="*{gross}"  minlength="1" maxlength="233"/>
                    <p class="help-footnote"><small>в килограммах</small></p>

                </div>
                <div class="col">
                    <label for="x2">габариты:</label>
                    <input id="x2" th:type="number" th:field="*{dimension}"  minlength="1" maxlength="233"/>
                    <p class="help-footnote"><small>в кубометрах</small></p>

                </div>
            </div>
            <div class="row text-info px-md-3">
                <div class="col text-warning">
                    <label for="x5"> код направления:</label>
                    <input id="x5" th:type="number" th:field="*{orientation}"  minlength="1" maxlength="233"/>
                    <p class="help-footnote"><small>по справочнику</small></p>
                </div>
                <div class="col">
                    <label for="x3">место погрузки:</label>
                    <input id="x3" th:type="text" th:field="*{loadingPlace}"  minlength="1" maxlength="233"/>
                    <p class="help-footnote"><small>адрес</small></p>
                </div>
                <div class="col">
                    <label for="x4">место назначения:</label>
                    <input id="x4" th:type="text" th:field="*{destination}"  minlength="1" maxlength="233"/>
                    <p class="help-footnote"><small>адрес</small></p>
                </div>
                <div class="row"><div class="col"><br></div></div>

                <div class="row">
                    <div class="col px-md-3">
                        <button th:if="${act}=='A'" class="btn btn-success">Добавить</button>
                        <button th:unless="${act}=='A'" class="btn btn-success">Сохранить</button>
                        <input class="btn btn-info"  type="button" onclick="history.back();" value="Назад"/></li>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer  th:insert="~{layout/page-layouts.html :: footer}"></footer>
</body>
</html>