<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body>
<header th:insert="~{layout/page-layouts.html :: header}"></header>
<div class="container-fluid text-center">
    <h2>Дополнительная информация о Заказе</h2>
    <div  class="container">
        <div class="row  px-md-3">
            <div class="col text-danger">
                <pre> <small>Код заказа</small></pre>
                <p class="text-danger text-left bg-info">[[${elm.name}]]</p>
            </div>
            <div class="col">
                <pre> <small>общий вес</small></pre>
                <p class="bg-info text-white text-left">[[${elm.gross}]]</p>

            </div>
            <div class="col">
                <pre> <small>габариты</small></pre>
                <p class="bg-info text-white text-left">[[${elm.dimension}]]</p>
            </div>



        </div>
        <div class="row  px-md-3 text-success">
            <div class="col text-primary">
                <pre> <small>Сформировал</small></pre>
                <p class="text-white text-left bg-info">[[ ${dispatcher}]]</p>
            </div>
            <div class="col col-3 text-primary  bg-light">
                <pre> <small>Состояние Заказа</small></pre>
                <p th:switch="${elm.status}">
                    <span th:case="1" class="text-danger" th:text="сформирован"></span>
                    <span th:case="2" class="text-primary" th:text="передан"></span>
                    <span th:case="3" class="text-success" th:text="доставлен"></span>
                    <span th:case="0" class="text-muted" th:text="подготавливается"></span>
                </p>
            </div>
            <div class="col text-primary"  th:if="${elm.status}==2">
                <pre> <small>Водитель</small></pre>
                <p class="text-white bg-info">[[ ${driver}]]</p>
            </div>

        </div>
        <div class="row  px-md-3 text-info">
            <div class="col">
                <pre> <small>общее направление</small></pre>
                <p class="bg-success text-white text-left">[[${elm.orientation}]]</p>

            </div>
            <div class="col">
                <pre> <small>место погрузки</small></pre>
                <p class="bg-info text-white  text-left">[[${elm.loadingPlace}]]</p>

            </div>
            <div class="col">
                <pre> <small>место назначения</small></pre>
                <p class="bg-info text-white  text-left">[[${elm.destination}]]</p>
            </div>

            <div class="row  px-md-3 text-secondary">
                <div class="col align-top">
                    <p class="col-3 text-info text-left"><pre>    <small>Примечание</small></pre>
                    <p class="col-12 text-justify bg-warning text-dark">[[${elm.description}]]</p>
                </div>
                <div class="col">

                </div>
            </div>


        </div>
        <div class="row  px-md-3">
            <div class="col text-danger">
                <input class="btn btn-info"  type="button" onclick="history.back();" value="Назад"/>
            </div>

        </div>
    </div>
</div>
<footer  th:insert="~{layout/page-layouts.html :: footer}"></footer>
</body>
</html>
