<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- пример фрагмента -->
    <div th:fragment="test">
        <h4>This is test frament on HTML page</h4>
    </div>

    <!-- пример header  -->
    <div th:fragment="header" >
        <ul class="nav justify-content-center">
            <li class="nav-item">
<!--                <a class="nav-link" area-current="page" th:href="@{/client/}">Clients</a>-->
            </li>
            <li class="nav-item">
                <a class="nav-link" area-current="page" th:href="@{/order/}">Orders</a>
            </li>

            <li><a class="nav-link" area-current="page" th:href="@{/}">На главную страницу</a></li>
            <li class="nav-item">
                <form th:action="@{/logout}" th:method="post">
                    <button class="nav-link" area-current="page">Log Out</button>
                </form>
            </li>
            <li><input type="button" onclick="history.back();" value="Назад"/></li>
        </ul>
    </div>

    <!-- пример фрагмента футера -->
    <div class="container-fluid text-center fixed-bottom text-bg-dark"
        th:fragment="footer">
        <p>Cargo transportation <i> Developed by S.I. Mishin 2023 &copy; v1.0.0 </i></i></p>
    </div>
</body>
</html>