<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Грузовые перевозки</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body class="wrapper">
<!--    <header th:insert="layout/page-layouts.html :: header"></header>-->

    <!-- вставим фрагмент текста -->
    <div class="container-fluid">
        <h1>Грузовые перевозки</h1>
        <div class="container-fluid" >
            <a href="order" class="btn btn-info" role="button" data-placement="bottom">Заказы</a>
            <a href="@{/logout}" class="btn btn-info" role="button" data-placement="bottom">Доставка</a>
            <a href="boss" class="btn btn-info" role="button" data-placement="bottom">Персонал</a>
            <input class="btn btn-info"  type="button" onclick="history.back();" value="Назад"/></li>

            <a href="/logout" class="btn btn-info" role="button" data-toggle="tooltip" data-placement="bottom"
               title="Закрытие текущего доступа к информации">Войти  / Выйти</a>

            <button class="btn btn-success">[[${login}]]</button>

        </div>
<!--        <h3 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h3>-->


        <br>
        <div class="fixed-bottom">
            <div class="col-md-4 text-center table-dark bg-secondary">
                <h4 >На сегодня: </h4>
                <p>В конторе работает <mark>[[${ix}]]</mark> водителей</p>
                <p>Подготовлено к доставке <mark>[[${iy}]]</mark> Заказов</p>
                <p>Доставляется <mark>[[${iz}]]</mark> Заказов</p>
                <br><br>
            </div>
        </div>

    <!--        <button class="btn btn-success">-->
<!--            <span class="badge">57</span>-->
    </div>
    <footer  th:insert="~{layout/page-layouts.html :: footer}"></footer>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html, body, .wrapper {
            width: 100%;
            height: 100%;
        }
        .wrapper {
            /*background: aquamarine;*/
            background-image: url("/img/bg-avto.jpg");
            /*background-image: url("./imgBg/bg-avto.jpg");*/
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
<script>
    $(document).ready (function(){
        $('a[data-toggle="tooltip"]').toolbar;
    });
</script>
</body>
</html>