<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Грузовые перевозки</title>
</head>
<body>
<!--    <header th:insert="layout/page-layouts.html :: header"></header>-->
    <h1>Грузовые перевозки</h1>
    <!-- вставим фрагмент текста -->
    <div th:insert="layout/page-layouts.html :: test"></div>
    <br>
    <a th:href="@{boss/}">На страницу  с косой client-list (boss-list.html)</a>
    <br>
    <a th:href="@{boss}">На страницу  без косой client-list (boss-list.html)</a>
    <br>
    <a th:href="@{boss/add}">На дбавление </a>
    <br>
<!--    <a th:href="@{item}">На страницу  без косой item-list (item-list.html)</a>-->
<!--    <br>-->
<!--    <a th:href="@{item/add}">На дбавление </a>-->
<!--    <br>-->
<!--    <a th:href="@{order}">На страницу  без косой order-list (order-list.html)</a>-->
<!--    <br>-->
<!--    <a th:href="@{order/add}">На дбавление </a>-->
<!--    <br>-->
<!--    <a th:href="@{orderitem}">На страницу  без косой orderitem-list (orderitem-list.html)</a>-->
<!--    <br>-->
<!--    <a th:href="@{orderitem/add}">На дбавление </a>-->
    <footer  th:insert="layout/page-layouts.html :: footer"></footer>
</body>
</html>