<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"/>
</head>
<body>
  <div class="container col-md-4" style="background-color: aquamarine">
    <h2>Представьтесь. Кто Вы?</h2>
    <th:block th:if="${param.error}" class="alert">
      Error
    </th:block>
    <form th:action="@{/login}" method="post" class="form-inline">
      <label class="control-label col-sm">
        Login:
        <input type="text" name="username" class="form-control" placeholder="введите Имя"/>
      </label>
      <label class="control-label col-sm">
        Password:
        <input type="password" name="password" class="form-control" placeholder="введите пароль"/>
      </label>
      <p class="text-xl-center"></p>

      <button type="submit" class="btn btn-success">Авторизоваться</button>
      <input type="button" onclick="history.back(); " class="btn btn-info" value="Отмена"/>
  <!--    <button> Sign in </button>-->
      <p>`</p>
    </form>
  </div>
</body>
</html>